body{
    margin: 20px;
    
  
}

.mercy{
    width: 150px;
    height: 60px;
   

}

.whole{
  
    justify-content:space-around;
    padding: 20px;
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #ddebf8;
}

.border-blue{
    border: 1px dotted blue;
  
}



