.twitter{

   color: black; 
   background-color: white;
   margin-left: 40px;
   margin-right: auto;
   border: solid 2px ghostwhite ;
   border-radius: 25px;
   width: 20%;
   text-align: center;
   padding-left: 20px;
   padding-right: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   font-weight: bold;
  


}

